
.notion-code>pre {
  background-color: #889199;
  // color: white;
}

.notion-code code
{
}

code[class*="language-"],
pre[class*="language-"] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: var(--color-primary)!important;
    font-size: 1em;
    line-height: 1.5em;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}



:not(pre)>code[class*="language-"] {
    white-space: normal;
    border-radius: 0.2em;
    padding: 0.1em;
}

pre[class*="language-"] {
    overflow: auto;
    position: relative;
    margin: 0.5em 0;
    padding: 1.25em 1em;
}

.language-css>code,
.language-sass>code,
.language-scss>code {
    color: var(--color-primary)!important;
}

/*
[class*="language-"] .namespace {
    opacity: 0.7;
}

.token.attr-name {
    color: #2e3237!important;
}

.token.attr-value {
    color: var(--color-primary)!important;
}

.token.attribute {
    color: var(--color-primary)!important;
}

.token.comment {
    color: #ff0000!important;
}

.token.function {
    color: #2e3237!important;
}

.token.important {
    color: #909ca8!important;
}

.token.property {
    color: #2e3237!important;
}

.token.pseudo-class {
    color: var(--color-primary)!important;
}

.token.pseudo-element {
    color: var(--color-primary)!important;
}

.token.punctuation {
    color: #2e3237!important;
}

.token.selector {
    color: #2e3237!important;
}

.token.string {
    color: var(--color-primary)!important;
}

.token.tag {
    color: #2e3237!important;
}
*/